* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
    padding: 20px 0;
}
header{
    background-color: rgb(26, 117, 87);
}

header img{
    width: 100%;
    border: 4px solid rgb(253, 135, 0);
}

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear:both;
    display:table;
}

nav {
    width: 100%;
    padding: 15px 0;
    background-color: rgb(72, 124, 15);
    float: left;
}

nav h1 {
    float: left;
}

nav h1 a img {
    width: 100px;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline;
    float: left;
    padding: 35px 15px;
}

nav ul li a {
    background-color: rgb(224, 32, 32);
    color: white;
    padding: 15px;
    /* margin: 15px; */
    text-decoration: none;
}

nav ul li a:hover {
    background-color: coral;
    color: black;
}

/* Grade de Colunas*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width:66.66% ;}
.col-9{width:75% ;}
.col-10{width: 83.33%;}
.col-11{width:91.66% ;}
.col-12{width:100% ;}

[class*= col-] {
    float:left;
    padding: 15px;
}

img {
    width: 100%;
}

h3 {
    margin: 10px
}

footer{
    text-align:center;
}

footer {
    background-color: aquamarine;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

footer {
    background-color: aqua;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea{
    width:100%;
    padding:4px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    border: 1px aquamarine;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    background-color: rgb(224, 212, 36);
}


button {
    background-color: #15d280;
    padding: 15px;
    text-decoration: none;
    
}

button a {
    text-decoration: none;
    color: black;
}

body {
    background-color: greenyellow;
}

.col-2 {
    max-width: 200px;
}

#box111 {
    margin-left: 200px;
}


#box222 {
    margin-top: 100px;
    margin-left: 300px;
}

#box11 {
    margin-left: 200px;
}

#box22 {
    margin-left: 100px;
}

#box33 {
    margin-left: 100px;
}

#box44 {
    margin-left: 100px;
}
